body {
  font-family: system-ui, sans-serif;
  background-color: #d1ffcc;
}
.lead {
  font-size: 1.5em;
  font-weight: 300;
}
section {
  background-color: white;
  padding: 20 px;
  margin: 10 px 0;
}
section h2 {
  margin-top: 0;
}
th {
  text-align: start;
  border-bottom: 1px solid black;
  padding: 5px 10px;
}
table {
  border-collapse: collapse;
}
td {
  padding: 5px 10px;
}
td.price {
  text-align: end;
}
div.form-group {
  margin-bottom: 10px;
}
label {
  display: block;
}
label.inline-label {
  display: inline;
}
textarea {
  width: 100%;
  min-height: 100px;
}
#container {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}
